.category-management {
    max-width: 600px;
    margin: auto;
  }
  
  .category-item {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .category-description {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .edit-button,
  .delete-button,
  .save-button,
  .cancel-button,
  .add-button {
    cursor: pointer;
    padding: 8px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .edit-button {
    background-color: #3a03f1;
    color: white;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  
  .save-button,
  .cancel-button {
    background-color: #4caf50;
    color: white;
  }
  
  .add-category {
    margin-top: 20px;
  }
  
  .add-button {
    background-color: #2196f3;
    color: white;
  }
  